html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif !important;
  background-color: #25262a !important; /* dark #1d1e28 */
  color: #fff !important; /* dark #fff */ /* light #1f2937 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px !important;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
