@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background-color: #202733 !important; /* dark #1d1e28 */
  color: #fff !important; /* dark #fff */ /* light #1f2937 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px !important;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 0.05rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2c2c2c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #414141;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.titles-section {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.big-title-section {
  font-size: 1.8rem;
  color: #f0c43c;
  font-weight: 600;
}

.sub-title-section {
  font-size: 1rem;
  color: #aaaaaa;
  font-weight: 600;
}

.button-contact {
  background-color: #f0c43c;
  color: #202733;
  border: none;
  border-radius: 0.75rem;
  padding: 1rem 1.25rem;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
  width: 150px;
}
