.services {
  background-color: #2b3443;
}

.services-container {
  padding-bottom: 5rem;
}

.services-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.services-item {
  margin: 1rem;
  height: 400px;
  width: 450px;
  background-color: #202733;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.services-item-text {
  margin-top: 1rem;
}

.services-item-title {
  font-size: 1.2rem;
  color: #e6e6e6;
  font-weight: bold;
}

.services-item-desc {
  font-size: 0.75rem;
  color: #cecece;
  font-weight: 600;
  padding: 0.8rem;
  margin-bottom: 1rem;
  width: 400px;
}

.services-item-img {
  width: 300px;
  border-radius: 0.75rem;
}

@media screen and (max-width: 850px) {
  .services-list {
    flex-direction: column;
  }
  .services-item {
    width: 90%;
    border-radius: 0.75rem;
  }

  .services-item-desc {
    width: inherit;
  }
}
