.skills {
  height: 100%;
  background-color: #202733;
}

.skills-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.skills-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skills-item-img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.skills-item-text {
  font-size: 1rem;
  color: #ececec;
  font-weight: 600;
  padding: 0.8rem;
}

.skills-item-bar {
  height: 8px;
  width: 100px;
  border-radius: 20px;
  margin: 1rem;
  background-color: #151b24;
}

.skills-item-bar-pourcent {
  height: 8px;
  border-radius: 20px;
}

/* .pourc-js {
  color: #f7e018;
}

.pourc-html {
  color: #ff5722;
}

.pourc-css {
  color: #214ce5;
}

.pourc-php {
  color: #92a9ed;
}

.pourc-vue {
  color: #3fb984;
} */
.pourc-js {
  color: #f5e449;
}

.pourc-html {
  color: #ff764d;
}

.pourc-css {
  color: #3b60e6;
}

.pourc-php {
  color: #9eb0e7;
}

.pourc-vue {
  color: #4db488;
}

.skills-seemore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3rem;
}

.skills-seemore-text {
  font-size: 1.2rem;
  color: #e6e6e6;
  font-weight: 600;
  padding: 0.8rem;
  margin-bottom: 1rem;
}

.skills-item-exp {
  margin-top: 1rem;
  font-size: 14px;
}

@media screen and (max-width: 850px) {
  .skills-list {
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }
}
